<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/profile_photo.css">
    <!-- fontawasome cdn for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.min.css" />
    <link rel="icon" href="/static/image/socialHub_Logo.jpg">
    <title>Profile Photo Upload</title>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js"
        integrity="sha256-z0oKYg6xiLq3yJGsp/LsY9XykbweQlHl42jHv2XTBz4=" crossorigin="anonymous"></script>
</head>
<style>
    input {
        width: 6cm;
        height: 0.9cm;
        outline: none;
        padding-left: 10px;
        border-radius: 3px;
        border: 1px solid rgb(194, 191, 191);
        box-shadow: inset 0 2px 2px -2px rgba(0, 0, 0, 0.2);
    }

    .btn {
        width: 6cm;
        border-radius: 10px;
        height: 1cm;
    }

    body {

        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    }

    .container {
        animation: trans 0.40s linear;
    }

    @keyframes trans {
        from {
            opacity: 0;
            transform: scale(1.1);
        }

        to {
            opacity: 1;
            transform: rotateY(0);
            transform: scale(1);
        }
    }

    input[type=text]:focus {
        border: 1px solid #6db9efc6;
        box-shadow: 1px 1px 8px 1px #85aad6c6;
    }
</style>

<body class="bg-gray-50">
    <header class="bg-gray-200 shadow">
        <div class="container mx-auto px-6 py-1 flex justify-between items-center">
            <div class="flex justify-between items-center">
                <img src="/static/image/socialHub_Logo.jpg" style="width: 40px;height: 40px;border-radius: 50%;">
                <a href="#" class="text-xl font-bold text-gray-800 ml-3">SocialHub</a>
            </div>
            <nav class="flex space-x-4">
                <a href="/home/">
                    <div
                        class="skip bg-green-500 px-3 py-1 flex justify-between items-center cursor-pointer hover:bg-blue-500 rounded">
                        <p class="text-lg">Back to Home<i class="fa-solid fa-arrow-right ml-2 text-xl"></i></p>
                    </div>
                </a>
            </nav>
        </div>
    </header>

    <div class="container mx-auto px-10 flex h-auto mt-5 rounded-2xl bg-gray-100 pb-5 w-100 flex-col shadow-xl flex items-center"
        style="width:60vw;">
        <h2 class="py-5 text-3xl">Edit Profile</h2>
        <div class="container flex items-center flex-wrap justify-center pt-5" style="border-top: 1px solid rgb(211, 211, 211);">
            <div class="img mr-10">
                <div class="img-in shadow-2xl rounded-full relative flex items-center justify-center bg-blue-300"
                    style="width: 5cm;height:5m;object-fit: cover;">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form.profile_photo}}
                        <img src="{{data.user_profile.profile_photo.url}}" class="img-in rounded-full"
                            style="width: 5cm;height: 5cm;object-fit: cover;" id="profile_pic">
                        <label for="pr_img"><i
                                class="fa-solid fa-pencil text-gray-700 absolute rounded-full bg-blue-100 p-3 cursor-pointer"
                                style="font-size: 20px;bottom: 5px;right: 5px;border: 0.3px solid rgb(184, 184, 184);"></i></label>
                        <input type="file" id="pr_img" style="display: none;" accept="image/jpg image/png"
                            name="profile_photo" />
                </div>
                <br>
                <div class="bg-gray-200 text-center h-10 flex items-center justify-center rounded-xl">
                    {{user.username}}
                </div>
            </div>
            <div>
                Bio:-<br>
                {{form.bio}}
                Eduction:-<br>
                {{form.education}}
                <br>
                Date Of Birth:-<br>
                {{form.dob}}
                <br>
                <br>
                <div class="flex w-100 flex items-center h-10 justify-between rounded-xl relative mt-4">
                    <a><button type="submit"
                            class="btn btn-primary bg-green-500 hover:text-white shadow-xl rounded-3xl hover:bg-blue-500">Save Changes</button></a>
                </div>
                <br>
                {% if messages %}
                {% for message in messages %}
                {% if message.tags == "error" %}
                <div class="message bg-red-100 p-2 rounded-lg mb-0 text-red-900">
                    {{message}}
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
                </form>
            </div>
        </div>
    </div>

    <script>
        let profilePic = document.getElementById("profile_pic");
        let input_file = document.getElementById("pr_img");
        input_file.onchange = function () {
            profilePic.src = URL.createObjectURL(input_file.files[0])
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.min.js"></script>
    <script type="text/javascript">
        $('#bio').emojioneArea({
            pickerPosition: 'right'
        });

    </script>
    <script>
        $(function () {
            $('.datepicker').datetimepicker();
        });
    </script>
</body>

</html>